/* * * * * * * * * * * 
 * 	SpyderByte Inc.	 *
 *     home.css      *
 *     12/15/2017	 *
 * * * * * * * * * * */
 
.header-img > img
{
	max-height: 100px;
	position: absolute;
	left: 25%;
	top: 0;
}

.header-img
{
	height: 80px;
}
