/* * * * * * * * * * * 
 * 	SpyderByte Inc.	 *
 *     home.css      *
 *     12/15/2017	 *
 * * * * * * * * * * */
 
.header-img
{
	text-align: center;  
}

.access-site
{
	text-align: center;
}

.access-buttons
{
	background-color: #999999;
	color: #ffffff;
	border-color: #ffffff;
}