/* * * * * * * * * * * 
 * 	Ronnie King		 *
 *    index.css      *
 *     08/30/2019	 *
 * * * * * * * * * * */
 
.jumbotron
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
}

.page-links
{
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
}

.page-links > a
{
	padding-right: 20px;
}

.main-content
{
	margin-left: 20px;
	margin-right: 20px;
	min-height: 300px;
	text-align:center;
	color: 
} 

.header-img
{
	text-align: center;  
}

.access-site
{
	text-align: center;
	padding-top: 20px;
}

.access-buttons
{
	background-color: #999999;
	color: #ffffff;
	border-color: #ffffff;
	border-radius: 10px;
	padding: 15px;
}

.access-site > div
{
	display: inline-block;
	width: 25%;	
}
 
 .footer
 {
	text-align: center;
 }