/* * * * * * * * * * * 
 * 	SpyderByte Inc.	 *
 *    index.css      *
 *     12/15/2017	 *
 * * * * * * * * * * */
 
.jumbotron
{
	margin-bottom: 0;
}

.header-img
{
	text-align: center;
}

.header-links
{
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
}

.header-links > a
{
	padding-right: 30px;
}

.dropdown-div
{
	position: absolute;
	right: 10px;
	top: 45px;
}

.drop-button
{
	background-color: transparent;
    cursor: pointer;
	position: fixed;
	padding-left: 0;
	right: 10px;
	top: 30px;
}

.dropdown-content 
{
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show 
{
	display: block;
}

.dropdown-links
{
	border-style: solid;
	background-color: #E9E9E9;
	display: block;
    color: black;
	padding: 5px;
	text-decoration: none;
}

.dropdown-links:hover
{
	background-color: #FFFFFF;
}

.center-content
{
	margin-left: 20px;
	margin-right: 20px;
	min-height: 300px;
}
 
 footer
 {
	text-align: center;
 }